@import url("../assets/css/header.css");
@import url("../assets/css/menu.css");

h2 {
  font-weight: 400;
  font-size: 40px;
}

#barra-de-pesquisa {
  width: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 3px;
}

#barra-de-pesquisa img {
  height: 25px;
}

#botao-filtro {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

input#search-bar:focus {
  outline: none;
}

#search-bar {
  display: flex;
  justify-self: flex-start;
  width: 80%;
  height: 30px;
  border: none;
  background-color: #d9d9d9;
}

#div-pai-container-jogos-sessoes {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.container-jogos-sessoes {
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
  overflow: hidden;
}

.container-jogos-sessoes h2 {
  display: flex;
  width: 100%;
  margin-left: 65px;
  margin-bottom: 20px;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 2rem;
}

.jogos-sessoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 150px;
  padding-left: 20px;
}

.jogo-retrato-home {
  width: 200px;
  height: 9.188rem;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide,
.swiper-slide {
  flex-basis: 0;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
}
