@import url("../assets/css/header.css");
@import url("../assets/css/menu.css");

body {
  background-color: var(--Background);
  color: var(--FontPrimaryColor);
}

#div-texto-e-searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 12.563rem;
}

#div-texto {
  display: flex;
  justify-content: flex-start;
}

#div-searchbar {
  display: flex;
  justify-content: center;
  width: 36.125rem;
  height: 2.613rem;
}

#searchbar {
  background: #d9d9d9;
  border-radius: 5px;
}

#searchbar a {
  display: flex;
  justify-content: flex-start;
  color: #8a8484;
}

#botao-seta-jogos-sessoes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.retangulo-botao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(217, 217, 217, 0) 100%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 10px;
  width: 16.875rem;
  height: 9.188rem;
}
