@import url("../assets/css/header.css");
@import url("../assets/css/menu.css");

.flex {
  display: flex;
  justify-content: center;
}

#profile-upper-screen-section {
  width: 100%;
}

#profile-banner {
  width: 100%;
  height: 250px;
  background-color: #f7f7f7;
  position: relative;
  background-image: url(https://picsum.photos/2000/250);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -40px;
}

.div__div--DFlex {
  display: flex;
  margin-bottom: inherit;
  width: 100%;
  justify-content: flex-start;
}

#profile-data-section {
  display: flex;
  flex-direction: column;
  background-color: var(--SecondaryBackground);
}

#profile-picture-and-editor {
  width: 13%;
  min-width: 120px;
  margin-left: 20px;
  margin-top: -50px;
}

#profile-picture {
  width: auto;
  background-color: #222;
  border-radius: 50%;
  z-index: 100;
  position: relative;
  aspect-ratio: 1/1;
}

#profile-editor {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 25px;
}

#div__button--upload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  gap: 3px;
  transition: 0.2s ease-in-out;
  min-width: 150px;
  margin-left: 32px;
  max-width: 200px;
}

#usernames-fields {
  margin: 5% 0 0 20%;
  gap: 5px;
  flex-direction: column;
  padding-bottom: 5px;
  height: fit-content;
}

h2#User-name {
  font-size: 1.3rem;
}
h1#User-nickname {
  font-size: 1rem;
  color: var(--FontPrimaryColor);
  opacity: 60%;
}

#usernames-fields > div {
  display: flex;
  gap: 10px;
}
#usernames-fields img {
  width: 20px;
  cursor: pointer;
}

.div__div--EditBio {
  width: 50%;
}
.section__div--buttons {
  gap: 25px;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 45%;
  justify-content: center;
  display: none;
}
.section__div--buttons button {
  height: 25px;
}

#BioTextArea {
  height: 60px;
  border: none;
  width: 90%;
  min-width: 242px;
  margin-bottom: 10px;
}

.div__div--Profiledata {
  width: 60%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.section__div--buttons {
  display: none;
}
.section__div--buttons #buttonSave {
  background-color: var(--PrimaryButtonColor);
  color: var(--FontPrimaryColor);
}

.section__div--buttons #buttonSave:hover {
  background-color: var(--PrimaryButtonHoverColor);
}

#gamesPlayed,
#achievments,
#hobbies {
  width: inherit;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#achievments {
  height: 30px;
}
#hobbies {
  height: 30px;
}

.perfil_jogos {
  margin-top: 25px;
}

.div__modal--jogo {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.div__modal--conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
@media (max-width: 530px) {
  #profile-editor {
    display: none;
  }
  #profile-picture-and-editor {
    min-width: 100px;
  }
  #usernames-fields img {
    display: block;
    cursor: pointer;
  }
  #profile-data-section {
    background-color: transparent;
  }
  .div__div--Profiledata {
    display: none;
  }
  .div__div--EditBio {
    width: 100%;
  }
  .section__div--buttons {
    width: auto;
  }
}
