<nav>
    <div>
        <a href="../home/" id="nav-link-home">
            <img
                loading="lazy"
                src="../assets/img/svg/navbar/icon-home.svg"
                alt="ícone da home"
            />
            Home
        </a>
    </div>

    <div>
        <a href="." id="nav-link-games">
            <img
                loading="lazy"
                src="../assets/img/svg/navbar/controle-videogame.svg"
                alt="ícone de controle de vídeogame"
            />
            Games
        </a>
    </div>

    <div>
        <a href="." id="nav-link-community">
            <img
                loading="lazy"
                src="../assets/img/svg/navbar/controle-videogame.svg"
                alt="ícone de controle de vídeogame"
            />
            Community
        </a>
    </div>

    <div>
        <a href="#" id="nav-link-popular">
            <img
                loading="lazy"
                src="../assets/img/svg/navbar/estrela.svg"
                alt="ícone de uma estrela"
            />
            Popular
        </a>
    </div>
</nav>
