body{
    margin: 0;
}
.elements{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--Background);
}
.box{
    width: 450px;
    height: 600px;
    margin: 0;
}