body{
    margin: 0;
}
.elements{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--Background);
    color: var(--FontPrimary);
}
.header{
    width: 100vw;
    height: 65px;
    text-align: center;
    background-color: var(--Header);

}
.box{
    width: 450px;
    height: 600px;
    margin: 0;
    background: var(--Header);
}
input[type="email"],
input[type="password"],
input[type="text"]{
    background-color: transparent;
    width: 100%;
    height:40px;
    border-bottom: 2px solid gray;
    color: gray;
}

