@import url('./fonts.css');
:root{
  --Nav: #464545;
  --Header: #2F2F2F;
  --Background: #181818;
  --Carousel: #F54703;
  --CarouselArrow: #FF7518;
  --FontPrimary: #E5E5E5;
}

.dark-theme:root {
  --Nav: #464545;
  --Header: #2F2F2F;
  --Background: #181818;
  --Carousel: #F54703;
  --CarouselArrow: #FF7518;
  --FontPrimary: #E5E5E5;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


