@import url("./fonts.css");

:root {
  --Nav: #464545;
  --Header: #2f2f2f;
  --Background: #181818;
  --Carousel: #f54703;
  --CarouselArrow: #ff7518;
  --FontPrimaryColor: #e5e5e5;
  --Error-Color: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", arial;
}

body {
  color: var(--FontPrimaryColor);
}

body.waiting * {
  cursor: wait !important;
}

#headerWany {
  height: 8.188 rem;
  display: flex;
  align-items: center;
  width: 100%;
}

#div-header-logo-e-nome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 2rem;
}

#div-header-icones {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  row-gap: 2rem;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.553 rem;
  width: 70%;
  row-gap: 2rem;
}
header {
  display: flex;
  height: 13vh;
  background-color: var(--Header);
}
header div {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
}
header a {
  display: flex;
  align-items: center;
  text-align: center;
  color: #e5e5e5;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
}
header div img {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: -10px;
}
