@import url("./fonts.css");
@import url("./menu.css");

:root {
  --Nav: #464545;
  --Header: #2f2f2f;
  --Background: #181818;

  --Carousel: #f54703;
  --CarouselArrow: #ff7518;

  --PrimaryButtonColor: #f54703;
  --PrimaryButtonHoverColor: #ff4f0a;

  --AuthBackgroudColor: #2f2f2f55;

  --InputFocusColor: #f54703;

  --FontPrimaryColor: #e5e5e5;
  --FontSecondaryColor: #f54703;

  --ErrorColor: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  color: var(--FontPrimaryColor);
  font-family: "Euclid Circular B", system-ui, sans-serif;
}

body.waiting * {
  cursor: wait !important;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.553 rem;
  width: 70%;
  row-gap: 2rem;
}
