header {
  background-color: var(--Header);
  height: 45px;
  display: flex;
  align-items: center;
}

header > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

header > a .title {
  margin-left: -5px;
}

header > a img {
  height: 50px;
}

header .icons {
  margin-left: auto;
  padding-right: 10px;
}

header .icons img {
  height: 20px;
}

header .icons > * {
  margin: 0 5px;
  cursor: pointer;
}

header .icons>a {
  text-decoration: none;
}

header .hide-mobile {
  display: none;
}

@media (min-width: 530px) {
  header .hide-mobile {
    display: inline;
  }
}

nav {
  background-color: var(--Header);
  padding: 5px 0;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

nav img {
  height: 20px;
  width: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

nav > div,
nav > div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 2px;
}

@media (min-width: 530px) {
  nav {
    background-color: var(--Nav);
    width: 80%;
    min-width: 250px;
    max-width: 700px;
    column-gap: 35px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    column-gap: 25px;
  }

  nav > div {
    width: auto;
    column-gap: 2px;
  }

  nav img {
    height: 30px;
    width: 25px;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
  }
}
