#menu {
    transition: .2s ease margin;
}

#menu.open {
    z-index: 101;
    position: relative;
}

@media (min-width: 530px) {
    #menu.open {
        margin-bottom: 0;
    }
}

#menu-overlay {
    --width: 240px;
    width: var(--width);
    background: var(--MenuOverlayBackground);
    padding: 10px;
    position: fixed;
    z-index: 100;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(-1 * var(--width));
    border-radius: 3px 0 3px 3px;
}

@media (min-width: 530px) {
    #menu-overlay {
        align-items: flex-start;
    }
}

#menu-overlay.open::before {
    --size: 10px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid var(--MenuOverlayBackground);
    top: -8px;
    right: 0;
}

#menu-overlay.open {
    margin-right: 5px;
    top: 55px;
    right: 0;
}

#menu-overlay > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 22px;
    column-gap: 10px;
}

#menu-overlay > div:nth-child(2) {
    padding: 6px;
}

#menu-overlay .avatar img {
    border-radius: 50px;
    width: 50px;
}

#menu-overlay ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 2px;
}

#menu-overlay ul li {
    min-height: 32px;
    display: flex;
}

#menu-overlay ul a {
    text-decoration: none;
    text-align: center;
    color: var(--FontPrimaryColor);
    width: 100%;
    align-items: center;
    padding-left: 4px;
}

#menu-overlay ul a:hover {
    text-decoration: underline;
}

@media (min-width: 530px) {
    #menu-overlay ul a {
        display: flex;
    }
}